@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.sidebar .list-item{
    padding: 10px;
    margin-top: 10px;
}

.sidebar .list-item a{
    color: #3E3E3E;
    text-decoration: none;
}

.sidebar .list-item:hover{
    border-radius: 5px;
    background-color: #E9E9E9;
    padding: 10px;
}

.sidebar .active{
    border-radius: 5px;
    background-color: #FFF3F4;
    color: #C8242F;
    padding: 10px;
}

.sidebar .active a {
    color: #C8242F;
    text-decoration: none;
}

.sidebar .list-group{
    margin-left: 30px;
    margin-bottom: 10px;
}

.paid{
    padding: 5px;
    color: #3CDD5F;
    background-color: #EBFFEF;
}

.failed{
    padding: 5px;
    color: #FF4545;
    background-color: #FFF5F5;
}

.pending{
    padding: 5px;
    color: #BABABA;
    background-color: #F8F8F8;
}

th {
    color: #ADADAD;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
} 
/*
input[type=text]:focus {
    outline: auto #C8242F;
    
    /* box-shadow: 0 #C8242F; */
    /* outline-color: #C8242F; */